<th scope="row">{{ ($loop.index + 1) }}</th>
<td>{{leave.subject}}</td>
<td>{{leave.description}}</td>
<td>{{leave.start_date}}</td>
<td>{{leave.end_date}}</td>
<td>{{leave.manager}}</td>
<td>{{leave.status}}</td>