<footer class="footer mt-auto py-3  bg-secondary">
    <div class="container text-inline text-white">
        <ul class='list-inline'>
            <li class='list-inline-item'> Divam Technologies  Jaipur, Rajasthan, India </li> 
            <li class='list-inline-item float-right'> Made By Dheeraj </li> 
        <ul>
    </div>
  </footer>